<hr class="m-0" />
<section class="resume-section" id="awards">
  <div class="resume-section-content">
    <h2 class="mb-5">Certifications</h2>
    <ul class="fa-ul mb-0">
      {% for award in site.data.awards %}
      <li>
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        {{ award }}
      </li>
      {% endfor %}
      <li>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="bd2c630e-8d08-4ded-b315-ba60939054c6" data-share-badge-host="https://www.credly.com"></div>
        <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
      </li>

    </ul>
  </div>
</section>
