<hr class="m-0" />
<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Work Experience</h2>
    {% for job in site.data.jobs %}
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">{{ job.function }}</h3>
        <div class="subheading mb-3">{{ job.company }}</div>
        <p>{{ job.description }}</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">{{ job.start_date | date: "%B %Y" }} - {%- if job.end_date %} {{ job.end_date | date: "%B %Y" }} {% else %} Present {% endif %}</span></div>
    </div>
    {% endfor %}
  </div>
</section>
