<div class="social-icons">
  {%- if site.portfolio.social.linkedin -%}<a class="social-icon" target="_blank" href="https://www.linkedin.com/in/{{ site.portfolio.social.linkedin | cgi_escape | escape }}" title="{{ site.portfolio.social.linkedin | escape }}"><i class="fab fa-linkedin-in"></i></a>{%- endif -%}
  {%- if site.portfolio.social.twitter -%}<a class="social-icon" target="_blank" href="https://www.twitter.com/{{ site.portfolio.social.twitter | cgi_escape | escape }}" title="{{ site.portfolio.social.twitter | escape }}"><i class="fab fa-twitter"></i></a>{%- endif -%}
  {%- if site.portfolio.social.facebook -%}<a class="social-icon" target="_blank" href="https://www.facebook.com/{{ site.portfolio.social.facebook | cgi_escape | escape }}" title="{{ site.portfolio.social.facebook | escape }}"><i class="fab fa-facebook-f"></i></a>{%- endif -%}
  {%- if site.portfolio.social.rss -%}<a class="social-icon" target="_blank" href="{{ site.portfolio.social.rss }}" title="{{ site.portfolio.social.rss | escape }}"><i class="fas fa-rss"></i></a>{%- endif -%}
</div>
