// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$coral: #D56224;

// Override Bootstrap default state colors

$primary: $coral;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
